[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
psycopg = "*"
psycopg-binary = "*"
evidently = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
